
select#inputLoaiSP,#inputMASP,#inputTamNgung {
    border: 1px solid #FFC300 !important;
    height: 40px;
    margin-top: 19px;
}

input[type="text"] {
  height: 39px;
  border: 1px solid #FFC300 !important;
  width: 100%;
 }

 span {
    font-weight: bold;
}

input[type="date"] {
    height: 39px;
    border: 1px solid #FFC300 !important;
}

.col-md-3.col-md-push-6.tongtien {
    margin-top:  14px;
}